.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
}

.image {
  max-width: 100%;
  max-height: 90%;
}

.image img {
  max-width: 100%;
  max-height: 700px;
  border-radius: 10px;
}

.statistics {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.statistics p {
  font-size: 1.1rem;
}
.statistics span {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .modal-content {
    gap: 1rem;
    padding: 1rem;
  }

  .statistics {
    gap: 10px;
  }

  .statistics p {
    font-size: 0.9rem;
  }
}
