.terms-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.terms-wrapper button {
  align-self: flex-end;
  transition: transform 0.2s, background-color 0.2s;
}
.terms-wrapper button:active {
  align-self: flex-end;
  transform: scale(0.9);
}

.terms {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.terms input {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 5px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: color 0.2s, border 0.2s, transform 0.2s;
}

.terms input:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.terms input:active {
  transform: scale(0.9);
}
.terms input:disabled {
  transform: scale(0.9);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .terms {
    gap: 10px;
    padding: 0.8rem;
  }

  .terms input {
    padding: 5px 15px;
    font-size: 0.9rem;
  }
}
