@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  font-family: 'Noto Sans Georgian', Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  --primary-color: #5754ff;
  --secondary-color: #9896ff;
  --main-text-color: #d3d3d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202020;
  color: #f4f4f4;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

.loader {
  position: fixed;
  top: 40dvh;
  max-width: 1215px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .loader {
    top: 40dvh;
    max-width: 85%;
  }
}
